.projects_wrapper {
  padding-top: 20px;
  position: relative;
  overflow: hidden;

  a {

    &:hover,
    &:active {
      color: $color-primary-1;
    }
  }

  .text {
    margin-bottom: 37px;
  }

  .project-image_background {
    background-size: cover;
    height: 500px;
    transition: 600ms opacity ease-in-out;

    &.device-image {
      opacity: 0;
      position: absolute;
    }
  }

  &.tct {
    background-color: $color-primary-9;

    .default {
      background-image: url('../../assets/images/tct_mobile.png');
    }
  }

  &.hiscox {
    background-color: $color-primary-10;

    .default {
      background-image: url('../../assets/images/hiscox_mobile.png');
    }
  }

  &.macallan {
    background-color: $color-primary-2;

    .default {
      background-image: url('../../assets/images/macallan_mobile.png');
    }
  }

  &.jmfinn {
    background-color: $color-primary-11;

    .default {
      background-image: url('../../assets/images/jmfinn_mobile.png');
    }
  }

  &.silverstone {
    background-color: $color-primary-12;

    .default {
      background-image: url('../../assets/images/silverstone_mobile.png');
    }
  }

  &.silverstone,
  &.run,
  &.hiscox {
    flex-direction: row-reverse;

    .project-image_background {
      background-size: cover;
      height: 500px;
    }
  }

  &.run {
    background-color: $color-primary-5;

    .default {
      background-image: url('../../assets/images/run_mobile.png');
    }
  }

  &.is-hovered {
    .default {
      opacity: 0;
    }

    .device-image {
      opacity: 1;
    }
  }
}

@include mq('tablet') {
  .projects_wrapper {
    &.tct {
      .default {
        background-image: url('../../assets/images/tct_devices.png');
        position: relative;
        top: 30px;
      }
    }

    &.hiscox {
      .default {
        background-image: url('../../assets/images/hiscox_devices.png');
        position: relative;
        top: 30px;
      }
    }

    &.macallan {
      .default {
        background-image: url('../../assets/images/macallan_devices.png');
        position: relative;
        top: 30px;
      }
    }

    &.jmfinn {
      .default {
        background-image: url('../../assets/images/jmfinn_devices.png');
        position: relative;
        top: 30px;
      }
    }

    &.silverstone {
      .default {
        background-image: url('../../assets/images/silverstone_devices.png');
        position: relative;
        top: 30px;
      }
    }

    &.silverstone,
    &.run,
    &.hiscox {
      .project-image_background {
        height: 300px;
      }
    }

    &.run {
      .default {
        background-image: url('../../assets/images/run_devices.png');
      }
    }

    .text {
      width: 80%;
    }
  
    .project-image_background {
      height: 300px;
    }
  }
}

@include mq('desktop') {
  .projects_wrapper {
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;

    &.tct {
      .default {
        background-image: url('../../assets/images/tct_desktop.png');
        top: 0;
      }

      .device-image {
        background-image: url('../../assets/images/tct_devices.png');
      }
    }

    &.hiscox {
      .default {
        background-image: url('../../assets/images/hiscox_desktop.png');
        top: 0;
      }

      .device-image {
        background-image: url('../../assets/images/hiscox_devices.png');
      }
    }

    &.macallan {
      .default {
        background-image: url('../../assets/images/macallan_desktop.png');
        top: 0;
      }

      .device-image {
        background-image: url('../../assets/images/macallan_devices.png');
      }
    }

    &.jmfinn {
      .default {
        background-image: url('../../assets/images/jmfinn_desktop.png');
        top: 0;
      }

      .device-image {
        background-image: url('../../assets/images/jmfinn_devices.png');
      }
    }

    &.silverstone {
      .default {
        background-image: url('../../assets/images/silverstone_desktop.png');
        top: 0;
      }

      .device-image {
        background-image: url('../../assets/images/silverstone_devices.png');
      }
    }

    &.silverstone,
    &.run,
    &.hiscox {
      .project-image_background {
        height: 460px;
        position: absolute;
        left: -160px;
        width: 795px;
        top: 95px;

        &.device-image {
          height: 570px;
          top: 35px;
          left: -290px;
          width: 900px;
        }
      }
    }

    &.run {
      .default {
        background-image: url('../../assets/images/run_desktop.png');
      }

      .device-image {
        background-image: url('../../assets/images/run_devices.png');
      }
    }

    .project-image_background {
      height: 550px;
      width: 770px;
      top: 45px;
      position: absolute;
  
      &.device-image {
        height: 484px;
        width: 772px;
        top: 55px;
      }
    }
  
    .col-4,
    .col-6 {
      display: inline-block;
    }
  
    .col-4 {
      width: 320px;
    }
  
    .col-6 {
      width: 600px;
    }
  
    .text {
      width: 100%;
      font-size: 14px;
    }
  }
}

@include mq('desktop-l') {
  .projects_wrapper {

    &.silverstone,
    &.run,
    &.hiscox {
      .project-image_background {
        height: 520px;
        left: -150px;
        width: 915px;
        top: 55px;
      }
    }
  }
}

@include mq('desktop-xl') {
  .projects_wrapper {

    &.silverstone,
    &.run,
    &.hiscox {
      .project-image_background,
      .project-image_background.device-image {
        left: 0;
      }
    }
  }
}
