.photo {
  position: relative;
}

.photo-hero {
  position: relative;
  background-image: url("https://media.licdn.com/dms/image/v2/D4E22AQG1vHFRj5FWqA/feedshare-shrink_2048_1536/feedshare-shrink_2048_1536/0/1729503836742?e=1732752000&v=beta&t=2wzkwNLzNYkNsZNEJuIT_cfnMKrjSCO4H9I1WPLHX44");
  width: 100%;
  height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &__content {
    position: absolute;
    z-index: 1;
    margin-top: rem(100px);
    color: $white;
  }

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba($black, 30%);
    z-index: 0;
  }
}

@include media-breakpoint-up(md) {
  .photo-hero {
    &__content {
      margin-top: 0;
      top: 50%;
      transform: translateY(-50%);
      max-width: 40%;
    }
  }
}
