.app-folder {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  height: 100vh;

  &__link {
    margin-bottom: 15px;

    @include media-breakpoint-up(md) {
      margin-bottom: 30px;
    }
  }

  &__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  &__background {
    background-color: $brand-dark-purple;
    border-radius: 13px;
    min-height: 56px;
    width: 56px;
    display: flex;
    align-items: center;
  }

  &__icon {
    background-image: url("../../../assets/images/icons/folder.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 31px;

    &.folder--shortcut {
      background-image: url("../../../assets/images/icons/folder--shortcut.svg");
      height: 35px;
    }

    &.text {
      background-image: url("../../../assets/images/icons/text.svg");
    }

    &.gmail {
      background-image: url("../../../assets/images/icons/gmail.svg");
    }

    &.github {
      background-image: url("../../../assets/images/icons/github.svg");
    }

    &.linkedin {
      background-image: url("../../../assets/images/icons/linkedin.svg");
    }
  }
}
