.browser-window--project-page {
  .browser-window__content {
    padding: 0;
  }
}

.project-details {
  .about {
    &__image {
      max-width: 306px;
      max-height: 306px;
      margin: 0 auto;
      position: relative;

      img {
        border-radius: 16px;
        overflow: hidden;
        position: relative;
        z-index: 1;
      }

      @include imageBackground(100%, 100%, 16px, 168.46deg, $bodyGrad, -5deg);
    }

    &__work-section {
      background-color: $section-grey;
      padding: 48px 0;
    }

    &__work-experience {
      a {
        color: $brand-light-purple;
      }
    }
  }
  .container {
    position: relative;
    z-index: 5;
  }

  &__header {
    overflow: hidden;
    position: relative;
    padding: 32px 0 40px;

    @include media-breakpoint-up(md) {
      padding: 65px 0 75px;
    }

    h1 {
      font-weight: bold;
      max-width: 490px;
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      height: 100%;
    }
  }

  &__content {
    background-color: $white;
    padding: 32px 0;

    h2,
    h3,
    h4 {
      color: $grey-900;
      max-width: 100%;
      font-weight: bold;
    }

    h4 {
      font-size: rem(16px);
    }

    p,
    ul {
      color: $grey-700;
    }
  }

  &__information {
    display: flex;
    flex-direction: column;

    @include media-breakpoint-up(md) {
      flex-direction: row;
    }

    a {
      color: $grey-700;

      &:active,
      &:hover {
        text-decoration: underline;
      }
    }

    h3 {
      font-size: rem(16px);
    }
  }

  &__site {
    margin-right: 32px;
  }

  &.silverstone {
    .projects__logo {
      width: 156px;
    }

    .project-details__header {
      background-color: $silverstone-blue;

      &:after {
        background-image: url("../../../assets/images/portfolio-silverstone-background.svg");
        right: 0;
        width: 100%;
        background-size: cover;
        z-index: 0;
      }
    }
  }

  &.jmfinn {
    .projects__logo {
      width: 92px;
    }

    .project-details__header {
      &:before {
        @include gradient(90deg, $overlay);
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 3;
      }

      &:after {
        background-image: url("../../../assets/images/jmfinn-project-detail.jpeg");
        left: 0;
        width: 100%;
        background-size: cover;
        z-index: 0;
      }
    }
  }

  &.hiscox {
    .projects__logo {
      width: 77px;
    }

    .project-details__header {
      background-color: $white;
      color: $black;

      &:after {
        right: -47%;
        background-image: url("../../../assets/images/portfolio-hiscox-background.svg");
        width: 100%;

        @include media-breakpoint-up(lg) {
          right: -38%;
        }
      }
    }
  }
}
