.browser-window--project-page {
  .browser-window__content {
    padding: 0;
  }
}

.project-details {
  .container {
    position: relative;
    z-index: 5;
  }

  &__header {
    overflow: hidden;
    position: relative;
    padding: 32px 0 40px;

    @include media-breakpoint-up(md) {
      padding: 65px 0 75px;
    }

    h1 {
      font-weight: bold;
      max-width: 490px;
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      height: 100%;
    }
  }

  &__content {
    background-color: $white;
    padding: 32px 0;

    h2 {
      color: $grey-900;
    }

    p {
      color: $grey-700;
    }
  }

  &.aboutme {
  }

  &.silverstone {
    .projects__logo {
      width: 156px;
    }

    .project-details__header {
      background-color: $silverstone-blue;

      &:after {
        background-image: url("../../../assets/images/portfolio-silverstone-background.svg");
        right: 0;
        width: 100%;
        background-size: cover;
        z-index: 0;
      }
    }
  }

  &.jmfinn {
    .projects__logo {
      width: 92px;
    }

    .project-details__header {
      &:before {
        @include gradient(90deg, $overlay);
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 3;
      }

      &:after {
        background-image: url("../../../assets/images/portfolio-jmfinn-background.svg");
        left: 0;
        width: 100%;
        background-size: cover;
        z-index: 0;
      }
    }
  }

  &.hiscox {
    .projects__logo {
      width: 77px;
    }

    .project-details__header {
      background-color: $white;
      color: $black;

      &:after {
        right: -40px;
        background-image: url("../../../assets/images/portfolio-hiscox-background.svg");
        width: 177px;

        @include media-breakpoint-up(lg) {
          right: -15px;
        }
      }
    }
  }
}
